.signup_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0d0d0d;
  font-family: "Poppins", sans-serif;
}

/* Form Container */
.form {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.1);
}

/* Logo */
.logo {
  width: 60px;
  margin-bottom: 10px;
  background-color: transparent;
}

/* Title */
.ftitle {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
  background-color: transparent;
}

/* Input Fields */
.inputContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin-bottom: 5px;
  background-color: transparent;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #3d331c93;
  border-radius: 7px;
  font-size: 12px;
  padding: 0 2px;
  outline: none;
  background: none;
  z-index: 1;
  color: #e2e6ec;
}

.input:focus {
  outline: none;
  border: 1px solid #ffffff;
}

.label {
  padding: 2px 5px;
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 12px;
  color: #888;
  transition: 0.3s ease-in-out;
  background: #1a1a1a;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  font-size: 12px;
  color: #0077ff6a;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  font-size: 12px;
}
.input:hover {
  border-color: #888;
}

::placeholder {
  color: transparent;
}

/* Submit Button */
.submitBtn {
  width: 100%;
  background: #ffffff;
  color: #0d0d0d;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  margin-top: 5px;
}

.submitBtn:hover {
  background: #e6e6e6;
  transform: translateY(-2px);
}

/* Style for Dropdown */
.selectfield {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
  border: 1px solid #444 !important;
  padding: 10px !important;
  border-radius: 5px !important;
  font-size: 13px !important;
  cursor: pointer !important;
  width: 100% !important;
}

.selectfield:hover {
  border-color: #888 !important;
}

.selectfield:focus {
  outline: none !important;
  border-color: #ffffff !important;
}

.seloption {
  background-color: #1a1a1a !important;
  color: #fff !important;
}
