.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0d0d0d;
  font-family: "Poppins", sans-serif;
}

.log_form {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 4px 12px #ffffff1a;
}

.submitBtn {
  width: 100%;
  background: #ffffff;
  color: #0d0d0d;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  margin-top: 5px;
}

.submitBtn:hover {
  background: #e6e6e6;
  transform: translateY(-2px);
}

select {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
  border: 1px solid #444 !important;
  padding: 10px !important;
  border-radius: 5px !important;
  font-size: 13px !important;
  cursor: pointer !important;
  width: 100% !important;
}

select:hover {
  border-color: #888 !important;
}

select:focus {
  outline: none !important;
  border-color: #ffffff !important;
}

option {
  background-color: #1a1a1a !important;
  color: #fff !important;
}
.inputContainer span{
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fffffff9 !important;
  font-size: 1.1rem;
  z-index: 2;
  background-color: transparent;
}