.nursery-container {
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #2e1a0f, #1a0d06);
}
.nursery-wrapper {
  background: radial-gradient(circle, #2e1a0f, #1a0d06);
  color: #453010e9;
  text-align: center;
  padding: 30px;
  min-height: 80vh;
  font-family: "Cinzel Decorative", cursive;
}

.header h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px 4px #00000080;
  background-color: transparent;
}
.header {
  background: radial-gradient(circle, #2e1a0f, #1a0d06);
}
.header p {
  font-style: italic;
}

.plant-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  background: radial-gradient(circle, #2e1a0f, #1a0d06);
}

.plant-item {
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  background-color: transparent;
  overflow: hidden;
}

.plant-item img {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.3s;
}

.plant-item .overlay {
  position: absolute;
  bottom: 0;
  background: #00000099;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.plant-item:hover img {
  transform: scale(1.1);
}

.plant-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: radial-gradient(circle, #00000088, #935c3f36);

  padding: 30px;
  border-radius: 15px;
  margin-top: 20px;
}

.plant-image {
  background-color: transparent;
}
.plant-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
}

.plant-info {
  flex: 1;
  text-align: left;
  background-color: transparent;
}

.plant-info h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.plant-info p {
  font-style: italic;
  margin-bottom: 20px;
}

.plant-info button {
  background: #8b5a2b;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1em;
}

.plant-info button:hover {
  background: #a06a3c;
}
