@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  background-color: transparent;
}

.banner_content {
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #162538;
  box-shadow: 0 2.8px 10.2px #848f9b, 0 6.7px 15.3px #1a222bbb,
    0 2.5px 10px #131a20e3, 0 4.8px 30.4px #141f29cc, 0 1px 80px #07090b;
  padding: 20px;
}
.banner_container {
  background-color: #303c4d63;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
}
.banner_container:hover {
  transform: scale(1.05);
  transition: 0.6s ease-in-out 0.7s;
}

.banner_card .banner_img img {
  display: block;
  width: 260px;
  max-width: 100%;
  max-height: 100%;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 20%;
  margin: 50px;
  gap: 6px;
  padding: 50px 0;
  box-sizing: border-box;
  background-color: #162538;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;
  border: 5px solid #c2a9a9d8; /* Solid border around the entire content container */
  border-radius: 10px;
}

.card {
  width: 15%;
  margin: 6px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  text-align: center;
  background-color: #ffffffd8;
  position: relative;
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: start;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.card_img {
  margin: auto;
  width: 20vb;
  object-fit: cover;
  margin-top: 7px;
}

.card_info {
  background-color: #a6a8aa59;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .pname {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: "Roboto", serif;
    font-weight: 700;
    background-color: transparent;
  }

  .pdes {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;

    font-family: "Roboto", serif;
    text-align: center;
    max-width: 300ch;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    margin: 8xp 0;
    background-color: transparent;
  }
  .price {
    text-align: left;
    font-family: "Roboto", serif;
    margin: 3px 0 5px 12px;
    font-size: 20px;
    color: #160101f6;
    background-color: transparent;
  }
  .pbtn {
    box-sizing: border-box;
    font-family: "Roboto", serif;
    color: #ffffffef;
    border: none;
    background-color: #00000083;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    padding: 0.5rem 2rem;
  }
}

.pbtn:hover {
  background-color: #010411e1;
}

/* Load More button at the top */
.morebtn {
  color: #ffffffef;
  background-color: #0f121ff1;
  border: 2px solid #acb1c77e;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 60px;
  margin: 4px 4px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
}
.morebtn:hover {
  background-color: #010411;
}
