@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.cart-container {
  width: auto;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.title {
  color: #781212ce;
  font-weight: 1000;
}
.empty-cart {
  font-size: 20px;
  font-weight: 500;
  color: #360a0ad0;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d0d0d1d;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px #00000033;
}

.cart-img {
  width: 90px;
  height: 100px;
  object-fit: scale-down;
  background-color: transparent;
}

.cart-info {
  flex-grow: 1;
  text-align: left;
  padding-left: 15px;
  background-color: transparent;
}

.cart-product-name {
  background-color: transparent;
}
.cart-product-seller {
  background-color: transparent;
}
.cart-product-price {
  font-size: 20px;
  font-weight: 500;
  color: #300b0baa;
  background-color: transparent;
}

.remove-btn {
  background-color: #d94d4d7e;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.remove-btn:hover {
  background-color: #8b0000a6;
}

.continue-shopping-btn {
  background-color: #0b9e2eb9;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5px;
}

.continue-shopping-btn:hover {
  background-color: #19a938;
}
