body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
  background-color: #080a0e;
}
.main {
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
  height: 100vh;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: #adb8d0;
  width: 400px;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 4px 10px 69px #3b4b6d;
}

.title {
  margin-bottom: 20px;
  font-size: 25px;
}

.logo {
  width: 70px;
  margin-bottom: -7px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 100%; /* Adjust to full width of the form */
  margin-bottom: 10px;
}
.inputContainer_error .input {
  border: 1px solid red; /* Border color indicating error */
}

/* Error message styling */
.errorMessage {
  display: none; /* Hide by default */
  position: absolute; /* Position relative to the input container */
  bottom: -1.5rem; /* Adjust based on layout */
  left: 0;
  background-color: #fdd;
  color: red;
  padding: 0.5rem;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 10; /* Ensure it appears above other elements */
  font-size: 0.875rem; /* Smaller font size for error messages */
  white-space: nowrap; /* Prevents wrapping */
}

/* Show error message when input has error */
.inputContainer_error .errorMessage {
  display: block;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #3d331c93;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 2px;
  outline: none;
  background: none;
  z-index: 1;
  color: #e2e6ec;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: #adb8d0;
  color: #e2e6ec;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 119, 255, 0.575);
}

.input:focus {
  border: 3px solid rgba(0, 119, 255, 0.575);
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:hover + .label {
  color: rgba(0, 119, 255, 0.575);
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 20px;
  border: none;
  background-color: #7c8bac9f;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}
.submitBtn:hover {
  background-color: #3b4b6d;
}
