* {
  margin: 0;
  padding: 0;
  background-color: #0d161e;
}

.container {
  display: flex;
  height: 60px;
  background-color: #181d21;
  align-items: center;
  margin-top: 17px;
  margin-left: 29px;
  margin-right: 29px;
  border-radius: 18px;
}

.img {
  background-color: transparent;
  width: 60px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-top: 1px;
}

.func {
  display: flex;
  background-color: transparent;
  margin-left: 20px;
  gap: 20px;
}
.homebn {
  background-color: #181d21;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
  border: none;
  border-bottom: 2px solid black;
}
.homebn:not(:focus) {
  color: gray;
  border-bottom: 2px solid gray;
}
.homebn:focus {
  color: white;
  border-bottom: 2px solid white;
}
.basketbn {
  background-color: #181d21;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
  box-sizing: content-box;
  border: none;
  border-bottom: 2px solid black;
}
.basketbn:not(:focus) {
  color: gray;
  border-bottom: 2px solid gray;
}
.basketbn:focus {
  color: white;
  border-bottom: 2px solid white;
}
.services {
  background-color: #181d21;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
  box-sizing: content-box;
  border: none;
  border-bottom: 2px solid black;
}
.services:not(:focus) {
  color: gray;
  border-bottom: 2px solid gray;
}
.services:focus {
  color: white;
  border-bottom: 2px solid white;
}

.search {
  display: flex;
  background-color: rgba(4, 9, 12, 0.6);
  margin-left: auto;
  margin-right: 20px;
  height: 30px;
  width: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: transparent;
}
.searchbar:focus {
  width: 200px;
  color: #c5cfd2;
}
.searchbar {
  box-sizing: border-box;
  border: transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  outline: none;
  height: 30px;
  width: 50px;
  z-index: 1;
  transition: width 4s;
  color: #f0f8ff77;
  background-color: #95928e94;
}
.searchicon {
  color: #95928e94;
  background-color: transparent;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
}

.register {
  padding-right: 20px;
  border-radius: 20px;
  background-color: transparent;
}
