.container {
  display: flex;
  height: 60px;
  background-color: #162538;
  align-items: center;
  margin-top: 17px;
  margin-left: 29px;
  margin-right: 29px;
  border-radius: 18px;
}

.img {
  background-color: transparent;
  width: 60px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-top: 1px;
}

.func {
  display: flex;
  background-color: transparent;
  margin-left: 20px;
  gap: 20px;
}

.homebn,
.cartbn,
.services {
  background-color: #162538;
  font-size: 15px;
  font-weight: 600;
  padding: 3px 10px;
  border: none;
  border-bottom: 2px solid transparent;
  transition: ease-in-out 0.5s;
  color: #8c72a3;
}

.homebn.active,
.cartbn.active,
.services.active {
  color: #e2e7ec;
  border-bottom: 2px solid #e2e7ec;
}

.search {
  display: flex;
  background-color: transparent;
  margin-left: auto;
  margin-right: 20px;
  height: 30px;
  width: auto;
  border: none;
}

.searchbar {
  width: 0px;
  border: none;
  background-color: transparent;
}

.searchchange {
  color: #e2e7ec;
  transition: width ease-in-out 2s;
  width: 230px;
  background-color: transparent;
  border: none;
  border-bottom: #8c72a3 solid 3px;
  outline: transparent;
}

.searchbutton {
  background-color: transparent;
  border: none;
}

.searchicon {
  color: #8c72a3;
  background-color: transparent;
  margin-left: 6px;
  margin-top: -3.5px;
  border-radius: 7px;
}

.bcount {
  color: #8c72a3;
  background-color: transparent;
  transition: ease-in-out 0.5s;
}
.cartbn.active .bcount {
  color: #e2e7ec;
}

.user-menu {
  position: relative;
  display: inline-block;
  background-color: whitesmoke;
  margin-right: 20px;
  border-radius: 20px;
}
.user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #1b2a41; /* Full solid background */
  color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 150px;
  padding: 10px 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.user-menu:hover .user-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.user-dropdown a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  background-color: #1b2a41;
}

.user-dropdown a:hover {
  background: #ffffff33;
  color: black;
  border-radius: 4px;
}
