.service-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #feffffe8;
  border-radius: 12px;
  box-shadow: 0 4px 10px #0000004d;
  border: 1px solid #acb9c9;
  margin-top: 40px;
}
.service-category-container {
  background-color: transparent;
}
.service-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000000d4;
  margin-bottom: 15px;
  cursor: pointer;
}

.service-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #feffffe8;
  border-radius: 12px;
  box-shadow: 0 4px 10px #0000004d;
  border: 1px solid #acb9c9;
  margin-top: 7px;
}

.service-input {
  width: 470px;
  padding: 10px;
  border: 1px solid #5a7da8;
  border-radius: 6px;
  background: #add8e625;
  color: #080808;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.service-input::placeholder {
  color: #2c2c2da9;
}

.service-input:focus {
  border-color: #ac1d1d58;
  box-shadow: 0 0 5px #552828a0;
}

.service-button-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.service-button {
  font-weight: bold;
  font-size: 18px;
  color: #e2e7ec;
  cursor: pointer;
  padding: 12px 20px;
  width: fit-content;
  border: none;
  border-radius: 8px;
  background: #879ca2f4;
  transition: background 0.3s ease, transform 0.2s ease;
}

.service-button:hover {
  background: #9e2d2db0;
  transform: scale(1.02);
}

.service-category {
  background-color: #ff02029b !important;
  color: #fcf6f6 !important;
  border: 1px solid #444 !important;
  padding: 10px !important;
  border-radius: 9px !important;
  font-size: 17px !important;
  cursor: pointer !important;
  width: 490px !important;
  text-align: center;
}
