* {
  background-color: #ffffffc4;
}
/*
  --text: #e2e7ec;
  --background: #07090b;
  --primary: #acb9c9;
  --secondary: #4e4266;
  --accent: #8c72a3;
  https://www.realtimecolors.com/dashboard?colors=e2e7ec-07090b-acb9c9-4e4266-8c72a3&fonts=Inter-Inter
  */
