@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.admin-panel {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.admin-panel h1 {
  text-align: center;
  margin-bottom: 20px;
}

.order-group {
  margin-bottom: 40px;
}

.item-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px #0000001a;
}

.item-table thead {
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 3px 6px #0000001a;
}

.item-table th {
  text-align: left;
  padding: 14px;
  font-weight: 700;
  background-color: #f1f1f1;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
}

.item-table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

tr:hover {
  background-color: #f1f1f1;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  min-width: 80px;
}

.status.complete {
  background-color: #28a745;
  color: white;
}

.status.delivering {
  background-color: #ffc107;
  color: white;
}

.status.pending {
  background-color: #dc3545;
  color: black;
}

.delete {
  border-radius: 10px;
  background-color: #716d6d3d;
  color: #222222;
  padding: 6px 8px;
  margin: 0 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.delete:hover {
  border-bottom: 2px solid #181b75;
  background-color: #c3c0c01a;
  color: black;
  opacity: 0.8;
}
