@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.admin-panel {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.admin-panel h1 {
  text-align: center;
  margin-bottom: 20px;
}

.order-group {
  margin-bottom: 40px;
}

.item-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px #0000001a;
}

.item-table thead {
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 3px 6px #0000001a;
}

.item-table th {
  text-align: left;
  padding: 14px;
  font-weight: 700;
  background-color: #f1f1f1;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
}

.item-table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

tr:hover {
  background-color: #f1f1f1;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  min-width: 80px;
}

.status.complete {
  background-color: #28a745;
  color: white;
}

.status.delivering {
  background-color: #ffc107;
  color: white;
}

.status.pending {
  background-color: #dc3545;
  color: white;
}

.status.cancel_requested {
  background-color: #306d9b;
  color: whitesmoke;
}
.status.cancelled {
  background-color: #000000;
  color: rgb(233, 219, 219);
  text-decoration: line-through;
}
.delete {
  border-radius: 10px;
  background-color: #716d6d3d;
  color: #222222;
  padding: 6px 8px;
  margin: 0 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.delete:hover {
  border-bottom: 2px solid #181b75;
  background-color: #c3c0c01a;
  color: black;
  opacity: 0.8;
}
.filter-container {
  display: flex;
  align-items: center;
}

.filter-container label {
  font-size: 14px;
  font-weight: 500;
}

.filter-container select {
  margin-left: 10px;
  padding: 4px 6px !important;
  font-size: 12px !important;
  height: 30px !important;
  max-width: 120px !important;
  border-radius: 5px !important;
  border: 1px solid #ddd !important;
  background-color: #6a6868 !important;
  cursor: pointer !important;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.dashboard-card {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px #c6b9b9be;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
.nav-button {
  background-color: #4CAF50;
  color: white;             
  font-size: 16px;           
  padding: 10px 20px;        
  border-radius: 5px;        
  margin-top: 10px;
  margin-left: 10px;
  border: none;              
  cursor: pointer;          
  transition: background-color 0.3s ease-in-out;
}

.nav-button:hover {
  background-color: #45a049;
}

.nav-button:focus {
  outline: none;
}
